@model IEnumerable<DinhThuyStore.Lib.Dtos.ProductDto>
@{
    ViewBag.Title = "Quản lý sản phẩm";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-primary" href="/product-create">
                            <i class="fas fa-plus"></i>
                            Thêm mới
                        </a>
                    </div>
                    <div class="card-body">
                        <table id="table" class="table table-bordered table-striped text-center">
                            <thead>
                                <tr>
                                    <th style="width: 75px">STT</th>
                                    <th style="width: 150px">Tên danh mục</th>
                                    <th style="width: 145px">Mã sản phẩm</th>
                                    <th style="width: 150px">Tên sản phẩm</th>
                                    <th style="width: 135px">Hình ảnh</th>
                                    <th style="width: 105px">Giá</th>
                                    <th style="width: 110px">Số lượng</th>
                                    <th style="width: 105px">Hiển thị</th>
                                    <th style="width: 185px">Ngày tạo</th>
                                    <th style="width: 195px">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    int i = 1;
                                    foreach (var item in Model)
                                    {
                                        var strCheck = item.IsActive ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.CategoryName</td>
                                            <td>@item.ProductCode</td>
                                            <td>@item.ProductName</td>
                                            @if (item.Image.Trim() == "")
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <img style="width: 100px" src="Uploads/@item.Image" />
                                                </td>
                                            }
                                            <td>@item.Price</td>

                                            <td>@item.Quantity</td>
                                            <td>
                                                <a data-id="@item.PKID" class="btnActive">
                                                    @Html.Raw(strCheck)
                                                </a>
                                            </td>
                                            <td>@item.CreatedDate</td>
                                            <td>
                                                <div class="d-flex flex-column">
                                                    <a class="btn btn-info mb-2" href="/product-update?id=@item.PKID">
                                                        <i class="fas fa-pencil-alt"></i>
                                                        Sửa
                                                    </a>
                                                    <a class="btn btn-danger" id="btnDelete" data-id="@item.PKID">
                                                        <i class="fas fa-trash"></i>
                                                        Delete
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="10">Không có bản ghi nào!</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(`body`).on(`click`, `#btnDelete`, function () {
            var id = $(this).data("id");
            var conf = confirm("Bạn có muốn xóa sản phẩm này không ?");
            if (conf === true) {
                $.ajax({
                    url: `/product-delete`,
                    type: `Post`,
                    data: { id: id },
                    success: function (rs) {
                        if (rs == 1) {
                            location.reload();
                        } else {
                            toastr.error('Lỗi!', 'Thông báo');
                            return;
                        }
                    }
                });
            }
        });
    </script>
}