@model DinhThuyStore.Lib.Dtos.ProductDto
@{
    ViewBag.Title = "Sửa sản phẩm";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/product">Quản lý sản phẩm</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @if (Model.Image.Trim() != "")
                {
                    <div class="card">
                        <div class="card-body text-center">
                            <img style="height: 300px" src="Uploads/@Model.Image" />
                        </div>
                    </div>
                }
                <div class="card">
                    <div class="card-body">
                        <form id="edit" method="post" action="/product-update" enctype="multipart/form-data">
                            @Html.HiddenFor(model => model.PKID)
                            @Html.HiddenFor(model => model.Image)
                            @Html.HiddenFor(model => model.Quantity)
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Mã sản phẩm</label>
                                        @Html.TextBoxFor(model => model.ProductCode, new { @id = "ProductCode", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Tên sản phẩm <small class="text-danger">(*)</small></label>
                                        @Html.TextBoxFor(model => model.ProductName, new { @id = "ProductName", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Danh mục</label>
                                        <select id="CategoryID" name="CategoryID" class="form-control select2" style="width: 100%;">
                                            @foreach (var item in ViewBag.Category)
                                            {
                                                <option @(Model.CategoryID.ToString().Equals(item.Value) ? "selected" : "") value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Giá <small class="text-danger">(*)</small></label>
                                        @Html.TextBoxFor(model => model.Price, new { @id = "Price", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Hình ảnh</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" name="ImageFile" class="custom-file-input" multiple onchange="updateFileLabel(this)">
                                                <label class="custom-file-label" id="fileLabel">Chọn ảnh</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" value="true" name="IsActive" id="IsActiveHidden" />
                            <div class="row">
                                <div class="col-12">
                                    <a href="/product" class="btn btn-secondary">Trở về</a>
                                    <button type="button" class="btn btn-success" id="btnSave">Lưu</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        function updateFileLabel(input) {
            var fileLabel = document.getElementById("fileLabel");
            if (input.files.length > 0) {
                fileLabel.innerHTML = input.files[0].name;
            } else {
                fileLabel.innerHTML = "Choose file";
            }
        }

        $(`body`).on(`click`, `#btnSave`, function () {
            var productName = document.getElementById("ProductName").value;
            if (productName.trim() == "") {
                toastr.error('Tên sản phẩm không được để trống!', 'Thông báo');
                return;
            }
            var price = document.getElementById("Price").value;
            if (price.trim() == "") {
                toastr.error('Giá không được để trống!', 'Thông báo');
                return;
            }
            document.getElementById("edit").submit();
        });
    </script>
}