@model IEnumerable<DinhThuyStore.Lib.Dtos.CategoryDto>
@{
    ViewBag.Title = "Quản lý danh mục";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-primary" href="/category-create">
                            <i class="fas fa-plus"></i>
                            Thêm mới
                        </a>
                    </div>
                    <div class="card-body">
                        <table id="table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên danh mục</th>
                                    <th>Ngày tạo</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    int i = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.CategoryName</td>
                                            <td>@item.CreatedDate</td>
                                            <td>
                                                <a class="btn btn-danger" id="btnDelete" data-id="@item.PKID">Delete</a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4">Không có bản ghi nào!</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(`body`).on(`click`, `#btnDelete`, function () {
            var id = $(this).data("id");
            var conf = confirm("Bạn có muốn xóa danh mục này không ?");
            if (conf === true) {
                $.ajax({
                    url: `/category-delete`,
                    type: `Post`,
                    data: { id: id },
                    success: function (rs) {
                        if (rs == 1) {
                            location.reload();
                        } else {
                            toastr.error('Lỗi!', 'Thông báo');
                            return;
                        }
                    }
                });
            }
        });
    </script>
}